// ------------------------ General ------------------------

h1 {
  font-size: $h1-size-big-mob;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: $h1-size-small-mob;
  }
}

h2 {
  font-size: $mob-sub-size;
}

.card-body p,
h3 {
  font-size: $mob-sub-size;
}

h4 {
  font-size: $mob-body-size;
  font-style: italic;
}

a,
p,
div,
button,
input,
textarea {
  font-size: $mob-body-size;
}

#footer p,
#footer a {
  font-size: $mob-fine-size;
}

#social-media-icons a {
  font-size: $mob-body-size;
}

input,
textarea,
button,
.regular-button {
  width: 100%;
  // border: none;
  border-radius: $big-margin;
  padding: $med-margin;
  text-align: start;
  margin-bottom: $med-margin;
  min-height: 36px;
}

textarea {
  resize: vertical;
  overflow: auto;
}

button {
  background: none;
  border: none;
}

.regular-button {
  // background: $card-dark;
  // color: $text-light;
  text-align: center;
}
.regular-button:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.regular-button:active {
  opacity: 0.6;
  transition: 0.2s;
}

.back-button-container {
  margin: $med-margin auto;
  display: flex;
  justify-content: center;
  width: fit-content;

  .back-button {
    width: fit-content;
  }
}

.full-container {
  // padding: $small-margin;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  // margin: auto;
  padding: $big-margin;
  min-height: 100vh;
  // min-height: calc(100vh - 115px);
  // opacity: 0;
  // transition: 0.4s;
  // width: 100%;
}

.loader {
  width: 100%;
  height: 90vh;

  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
}

#home-page,
#about-page,
#contact-page,
#gallery-page,
#project-page {
  opacity: 1;
  transition: 1s;
}

#about-page,
#project-page {
  margin-top: $big-margin;
}

.highlight {
  padding: $med-margin;
  margin-bottom: $big-margin;
  border-radius: $med-margin;

  p,
  h2 {
    margin-bottom: $med-margin;
  }
}

// ------------------------ Landing ------------------------

#landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
  // min-height: 100vh;
  margin: 0;


  .landing-logo {
    display: flex;
    height: 70vh;
    object-fit: contain;
    margin-bottom: $big-margin;
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2,
    p {
      margin-bottom: $big-margin;
    }
  } 

  .landing-button-container {
    display: flex;

    .landing-button {
      margin: $med-margin;
      border-radius: $big-margin;
      padding: $med-margin;
    }
  }
}

// ------------------------ Home-Footer ------------------------

#home-footer {
  display: flex;
  flex-direction: column;
  // margin-top: $big-margin;
  // margin-bottom: $big-margin;
  align-items: center;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  // left: 50%;
  // transform: translate(-50%, 0%);

  p {
    display: flex;
    text-align: center;
    margin-top: $med-margin;
    justify-content: center;
  }

  #social-media-icons {
    margin: $big-margin 0;
    a {
      margin: 0 $big-margin;
    }
  }
}

#footer-text {
  display: flex;
  flex-direction: row;
  // margin: auto;
  margin-top: $med-margin;
  // align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  width: 100%;
  // position: fixed;
  // bottom: 0;
  // bottom: $big-margin;

  .rights {
    // display: flex;
    // flex-direction: column;
    margin: 0 $small-margin;
    font-size: $mob-fine-size;
    text-align: center;
  }
}

// ------------------------ Images ------------------------

figure {
  width: 100%;
  display: flex;
  justify-content: center;
  // padding: 12px;

  img {
    border-radius: $med-margin;
    // -o-object-fit: contain;
    // object-fit: contain;
    overflow: hidden;
    width: 100%;
    // height: 100%;
    max-height: 70vh;
  }
}