@media screen and (min-width: 768px) {
  // ------------------------ All Tablet ------------------------

  h1 {
    font-size: $h1-size-tablet;
  }

  h2,
  h3 {
    font-size: $sub-size;
  }

  h4 {
    font-size: $body-size;
  }

  a,
  p,
  div,
  button,
  input,
  textarea {
    font-size: $body-size;
  }

  .full-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // padding: 0;
  }

  .main-content-container, .back-button-container {
    overflow: visible;

  }

  // ------------------------ Footer ------------------------

  #footer-home {
    bottom: 0;
    margin-bottom: $big-margin;

    #social-media-icons {
      margin: $big-margin 0;
      a {
        margin: 0 $med-margin;
      }
    }
  }

  // ------------------------ Images ------------------------

  // figure {
  //   padding-right: 10%;
  // }

}
