@import url("https://fonts.googleapis.com/css?family=Trykker|Lustria|Big+Shoulders+Text|Bebas+Neue|Overpass|Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Fira+sans+Condensed|Dosis|Josefin+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;
  height: 100vh;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 44px;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 18px;
}

.card-body p,
h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-style: italic;
}

a,
p,
div,
button,
input,
textarea {
  font-size: 16px;
}

#footer p,
#footer a {
  font-size: 12px;
}

#social-media-icons a {
  font-size: 16px;
}

input,
textarea,
button,
.regular-button {
  width: 100%;
  border-radius: 24px;
  padding: 12px;
  text-align: start;
  margin-bottom: 12px;
  min-height: 36px;
}

textarea {
  resize: vertical;
  overflow: auto;
}

button {
  background: none;
  border: none;
}

.regular-button {
  text-align: center;
}

.regular-button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.regular-button:active {
  opacity: 0.6;
  transition: 0.2s;
}

.back-button-container {
  margin: 12px auto;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.back-button-container .back-button {
  width: -moz-fit-content;
  width: fit-content;
}

.full-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
}

.loader {
  width: 100%;
  height: 90vh;
}

#home-page,
#about-page,
#contact-page,
#gallery-page,
#project-page {
  opacity: 1;
  transition: 1s;
}

#about-page,
#project-page {
  margin-top: 24px;
}

.highlight {
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 12px;
}
.highlight p,
.highlight h2 {
  margin-bottom: 12px;
}

#landing {
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#landing .landing-logo {
  display: flex;
  height: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 24px;
}
#landing .landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landing .landing-text h2,
#landing .landing-text p {
  margin-bottom: 24px;
}
#landing .landing-button-container {
  display: flex;
}
#landing .landing-button-container .landing-button {
  margin: 12px;
  border-radius: 24px;
  padding: 12px;
}

nav,
.filter {
  margin: 6px;
  display: flex;
  margin-bottom: 12px;
  padding: 0 6px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav #logo a,
.filter #logo a {
  display: flex;
  align-items: center;
}
nav #logo a img,
.filter #logo a img {
  align-items: center;
  max-width: 20vw;
  max-height: 12vh;
}
nav .nav-links,
.filter .nav-links {
  margin-bottom: 12px;
}
nav .nav-links a,
.filter .nav-links a {
  margin: 6px;
  font-size: 18px;
}

.nav-links .nav-button,
.filter a {
  font-size: 18px;
  padding: 12px;
  margin-bottom: 6px;
  border-radius: 24px;
}

.nav-links .nav-button:hover,
.filter a:hover {
  transition: 0.2s ease;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
  align-items: center;
  width: 100%;
}
#footer p {
  display: flex;
  text-align: center;
  margin-bottom: 12px;
}
#footer #social-media-icons {
  margin: 24px 0;
}
#footer #social-media-icons a {
  margin: 0 24px;
}

figure {
  width: 100%;
  display: flex;
  justify-content: center;
}
figure img {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-height: 70vh;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.project-card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.project-card img {
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  -o-object-position: center center;
     object-position: center center;
}
.project-card .card-text {
  z-index: 2;
  width: 100%;
}
.project-card .card-text .card-heading,
.project-card .card-text .card-body {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.project-card .card-text .card-body {
  margin-bottom: 1em;
  visibility: 0;
}
.project-card .card-text div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#Bio,
#Testimonials {
  display: grid;
  grid-template-areas: "img" "text";
  gap: 12px;
  margin-bottom: 24px;
  border-radius: 12px;
}
#Bio .bio-image,
#Bio .image,
#Testimonials .bio-image,
#Testimonials .image {
  grid-area: img;
  max-height: 70vh;
}
#Bio .bio-text,
#Bio .text,
#Testimonials .bio-text,
#Testimonials .text {
  grid-area: text;
  text-align: left;
}
#Bio .bio-text h2,
#Bio .bio-text p,
#Bio .text h2,
#Bio .text p,
#Testimonials .bio-text h2,
#Testimonials .bio-text p,
#Testimonials .text h2,
#Testimonials .text p {
  margin-bottom: 12px;
}
#Bio .head,
#Testimonials .head {
  margin-bottom: 12px;
  width: 100%;
}

#Testimonials {
  display: flex;
  flex-wrap: wrap;
}
#Testimonials .head {
  margin-bottom: 12px;
  width: 100%;
}

#about-main {
  grid-area: main;
  max-width: 100%;
}
#about-main p {
  margin-bottom: 12px;
}

.client-logo {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
}
.client-logo img {
  height: 40px;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-grid {
  display: grid;
  grid-template-areas: "Bio" "Testimonials";
}
.about-grid #Bio {
  grid-area: Bio;
}
.about-grid #Testimonials {
  grid-area: Testimonials;
}

.about-section {
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
}

#contact-content {
  display: flex;
  flex-direction: column;
  margin: 48px auto;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}
#contact-content .contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-content h2 {
  margin-bottom: 48px;
}
#contact-content p {
  width: 70%;
  margin-bottom: 48px;
}
#contact-content form {
  width: 100%;
}
#contact-content form textarea {
  min-height: 108px;
}

.project-grid figure {
  margin-bottom: 12px;
}

#project-page h2 {
  margin-top: 24px;
  margin-bottom: 12px;
}
#project-page h4 {
  margin-bottom: 24px;
}
#project-page p {
  margin-bottom: 24px;
}
#project-page figure {
  margin-bottom: 12px;
}
#project-page figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  a,
  p,
  div,
  button,
  input,
  textarea {
    font-size: 18px;
  }
  .full-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .main-content-container, .back-button-container {
    max-width: 80%;
    margin-left: 20%;
    margin-right: 5%;
    padding: 0;
    overflow: visible;
  }
  #about-page .main-content-container, #contact-page .main-content-container {
    margin-right: 20%;
  }
  .gallery-grid {
    margin-right: 0%;
    border-radius: 12px;
  }
  nav, #footer, .filter {
    z-index: 99;
    position: fixed;
    display: flex;
    width: 20%;
    max-height: 30%;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  nav .nav-links, #footer .nav-links, .filter .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  nav .nav-links .nav-button, #footer .nav-links .nav-button, .filter .nav-links .nav-button {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  nav #desktop-nav-menu, #footer #desktop-nav-menu, .filter #desktop-nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav #desktop-nav-menu .nav-button, #footer #desktop-nav-menu .nav-button, .filter #desktop-nav-menu .nav-button {
    padding: 6px;
    margin-left: 6px;
    margin-right: 6px;
  }
  nav #hamburger-container, #footer #hamburger-container, .filter #hamburger-container {
    display: none;
  }
  nav #hamburger-container button, #footer #hamburger-container button, .filter #hamburger-container button {
    display: none;
  }
  nav #logo a img, #footer #logo a img, .filter #logo a img {
    max-height: 20vh;
  }
  .nav-links .nav-button,
  .filter a {
    width: 150px;
  }
  #mobile-menu-container {
    display: none;
  }
  #footer {
    bottom: 0;
    margin-bottom: 24px;
  }
  #footer #social-media-icons {
    margin: 24px 0;
  }
  #footer #social-media-icons a {
    margin: 0 12px;
  }
  .filter {
    display: flex;
    max-width: 20%;
    max-height: 30%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 45%;
    display: flex;
    flex-direction: column;
  }
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .project-card {
    width: 50%;
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 45%;
  }
  .project-card img {
    max-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
  }
  .last-card {
    flex-grow: 10;
  }
  #Bio {
    grid-template-areas: "img text";
  }
  #Testimonials {
    display: flex;
  }
  #contact-page {
    display: flex;
    padding: 24px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 72px;
  }
  nav, .filter {
    padding: 0 48px;
  }
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@font-face {
  font-family: "Wallau Unzial Bold";
  src: url("/typefaces/Wallau Unzial Bold/Wallau Unzial Bold.ttf");
}
@font-face {
  font-family: "Le Murmure";
  src: url("/typefaces/Le Murmure/le-murmure.otf");
}/*# sourceMappingURL=App.css.map */