@import url("https://fonts.googleapis.com/css?family=Trykker|Lustria|Big+Shoulders+Text|Bebas+Neue|Overpass|Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Fira+sans+Condensed|Dosis|Josefin+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;
  height: 100vh;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 44px;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 18px;
}

.card-body p,
h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-style: italic;
}

a,
p,
div,
button,
input,
textarea {
  font-size: 16px;
}

#footer p,
#footer a {
  font-size: 12px;
}

#social-media-icons a {
  font-size: 16px;
}

input,
textarea,
button,
.regular-button {
  width: 100%;
  border-radius: 24px;
  padding: 12px;
  text-align: start;
  margin-bottom: 12px;
  min-height: 36px;
}

textarea {
  resize: vertical;
  overflow: auto;
}

button {
  background: none;
  border: none;
}

.regular-button {
  text-align: center;
}

.regular-button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.regular-button:active {
  opacity: 0.6;
  transition: 0.2s;
}

.back-button-container {
  margin: 12px auto;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.back-button-container .back-button {
  width: -moz-fit-content;
  width: fit-content;
}

.full-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
  min-height: 100vh;
}

.loader {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
}

#home-page,
#about-page,
#contact-page,
#gallery-page,
#project-page {
  opacity: 1;
  transition: 1s;
}

#about-page,
#project-page {
  margin-top: 24px;
}

.highlight {
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 12px;
}
.highlight p,
.highlight h2 {
  margin-bottom: 12px;
}

#landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
  margin: 0;
}
#landing .landing-logo {
  display: flex;
  height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 24px;
}
#landing .landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landing .landing-text h2,
#landing .landing-text p {
  margin-bottom: 24px;
}
#landing .landing-button-container {
  display: flex;
}
#landing .landing-button-container .landing-button {
  margin: 12px;
  border-radius: 24px;
  padding: 12px;
}

#home-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#home-footer p {
  display: flex;
  text-align: center;
  margin-top: 12px;
  justify-content: center;
}
#home-footer #social-media-icons {
  margin: 24px 0;
}
#home-footer #social-media-icons a {
  margin: 0 24px;
}

#footer-text {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
#footer-text .rights {
  margin: 0 6px;
  font-size: 12px;
  text-align: center;
}

figure {
  width: 100%;
  display: flex;
  justify-content: center;
}
figure img {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-height: 70vh;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  a,
  p,
  div,
  button,
  input,
  textarea {
    font-size: 18px;
  }
  .full-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .main-content-container, .back-button-container {
    overflow: visible;
  }
  #footer-home {
    bottom: 0;
    margin-bottom: 24px;
  }
  #footer-home #social-media-icons {
    margin: 24px 0;
  }
  #footer-home #social-media-icons a {
    margin: 0 12px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@font-face {
  font-family: "Wallau Unzial Bold";
  src: url("/typefaces/Wallau Unzial Bold/Wallau Unzial Bold.ttf");
}
@font-face {
  font-family: "Le Murmure";
  src: url("/typefaces/Le Murmure/le-murmure.otf");
}/*# sourceMappingURL=App.css.map */